%h2 Login to Backseat

-form_tag(session_url) do
  =image_tag 'google.gif'
  =hidden_field_tag 'provider', 'Google'
  .row.hide
    = label_tag :openid_identifier, 'OpenID'
    = text_field_tag "openid_identifier", 'https://www.google.com/accounts/o8/id'
    .clear
  .row
    = submit_tag 'Sign in', :disable_with => "Signing in&hellip;"
    .clear
    
%h3 or
    
-form_tag(session_url) do
  =image_tag 'yahoo.gif'
  =hidden_field_tag 'provider', 'Yahoo'
  .row.hide
    = label_tag :openid_identifier, 'OpenID'
    = text_field_tag "openid_identifier", 'http://yahoo.com/'
    .clear
  .row
    = submit_tag 'Sign in', :disable_with => "Signing in&hellip;"
    .clear