=stylesheet_link_tag 'client'
=javascript_include_tag 'jquery', 'jquery.minitip', 'jquery.bubble'
%h1= "View this page in Firefox for now"

#image-code
  %h3 Example of Image
  %span{:id => "interview-#{params[:id]}-image"}
    %script{:src => "http://localhost:3000/interviews/#{params[:id]}/responses/new.js?mode=image&user=matthew deiters"}

#inline-code
  %h3 Example of Inline
  %span{:id => "interview-#{params[:id]}"}
    %script{:src => "http://localhost:3000/interviews/#{params[:id]}/responses/new.js?mode=inline&user=matthew deiters"}