/ALLAN: my idea is to have consumers of this include the client.css, this form shows up in their application and should be styled in the client.css
.response
  .welcome= "Tell us what you think #{params[:user]}" if params[:user]
  .question= "#{@interview.question} ?"
  .description= @interview.description unless @interview.description.blank?
  -form_for [@interview, Response.new] do |form|
    = hidden_field_tag :interview_id, @interview.id
    = hidden_field_tag 'response[user]', params[:user]
    -unless @interview.options.empty?
      .row
        -@interview.options.each do |option|
          #option{:id => dom_id(option)}
            =form.radio_button :value, option.name
            =option.name
        .clear
    .row
      =form.label :comment
      =form.text_area :comment
      .clear
    .button_row
      =submit_tag 'Save'
      .clear

