%a.thickbox.tooltip{:href => "#TB_inline?inlineId=#{ask_dom_id(@interview)}" }
  %span.trigger=image_tag('user_feedback.png')
  %span.popup{:style => 'display:none;'}
    .question
      /we probably want this question with some padding so that its easy to hover
      ="#{@interview.question} ? click to participate"
    .reponse{:id => ask_dom_id(@interview), :style => 'display:none;'}
      .question= "#{@interview.question} ?"
      .description= @interview.description unless @interview.description.blank?
      =render(:partial => 'responses/form')