- id = Object.new.object_id
%a.facebox{:href => "##{ask_dom_id(@interview)}", :id => id}
  %span.trigger=image_tag('user_feedback.png')
  .reponse{:id => ask_dom_id(@interview), :style => 'display:none;'}
    .question= "#{@interview.question} ?"
    .description= @interview.description unless @interview.description.blank?
    =render(:partial => 'responses/form')
%script
  jQuery(document).ready(function() {jQuery('a[class*=facebox]').facebox()}); 
  ="jQuery(document).ready(function() {jQuery('##{id}').simpletip({content:'#{@interview.question}? Click to Participate'})});"